html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

body {
 
     background-image: linear-gradient(
        to right bottom, #cce0a4,
        #cce0a4);
/*        background-image: url('../public/cal.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;*/
        
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.register {
	
	padding: 100px;

}
span {
	color: #7fb848;
}
.navbarBg{
	background-color: #0c6c34
}

h1, p {
  text-align: center;
}
.login-box {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
   background: #0c6c349e;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;

 /* margin-left: 100px;
  padding: 40px;
  border-radius: 15px*/
}

.nav-link {
  text-align: center;
  color: black

}

.card {
  box-shadow: 0 5px 5px rgba(0,0,0,.4);

}
.textColor {
  color: green;
}